.order-item-body{
    color: black;
    background-color: rgb(219, 217, 217);
    padding: 30px;
    border-radius: 20px;
}

.order-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.order-text{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    flex-direction: column;
}

.order-text .order-id,
.order-text .sub{
    margin: 0;
}

.order-id{
    font-size: 30px;
}

.order-text .sub{
    font-size: 20px;
    margin-left: 30px;
}